.dark-mode{
    margin-top: 16px;
}
#icon{
    display: flex;
    cursor: pointer;
    color: white;
} 
.dark-mode button{
    width: 30px;
    height: 30px;
    background: var(--button_color);
    font-size: 1.5rem;
    border: 0;
    border-radius: 50%;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
        inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;

}